name: Build and Publish

on:
  release:
    types:
      - published

jobs:
  build-and-publish:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Podman
        uses: redhat-actions/podman-install@main

      - name: Log in to the GitHub Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        uses: redhat-actions/buildah-build@v2
        with:
          image: websb
          tags: latest ${{ github.sha }}
          containerfiles: ./Containerfile

      - name: Push container image to registry
        uses: redhat-actions/push-to-registry@v2
        with:
          image: websb
          tags: latest ${{ github.sha }}
          registry: ghcr.io/${{ github.repository }}
